* {
  padding: 0;
  margin: 0;
}

.header {
  background-color: rgb(155, 155, 255);
  justify-self: stretch;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: white;
  font-size: 2.5rem;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.game-field {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.board {
  height: 50vh;
  width: 50vw;
  border: 1px solid black;
  /* position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto; */
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.card1,
.card2 {
  display: grid;
  grid-template-columns: 1fr;
}

.card1 > div:nth-child(2n - 1),
.card2 > div:nth-child(2n - 1) {
  align-self: end;
  font-size: 1.5rem;
}

.card1 > div:nth-child(2n),
.card2 > div:nth-child(2n) {
  font-size: 1.5rem;
}

.field {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  justify-self: stretch;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(155, 155, 255);
}

#start-button {
  font-size: 1.5rem;
  padding: 0.4rem;
  border-radius: 2rem;
  border: none;
  background-color: white;
}

#start-button:hover {
  background-color: rgb(234, 234, 253);
}

#start-button:active {
  background-color: rgb(226, 226, 252);
}

.form1,
.form2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 25vw;
  height: 25vh;
  background-color: rgb(155, 155, 255);
  display: grid;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  display: none;
}

.save1,
.save2 {
  border: none;
  font-size: 1.2rem;
  border-radius: 2rem;
}

.save1:hover,
.save2:hover {
  background-color: white;
}

.save1:active,
.save2:active {
  background-color: rgb(233, 233, 233);
}

label {
  color: white;
  font-size: 1.8rem;
}

p {
  color: white;
  font-size: 1.8rem;
}

.mark {
  font-size: 5rem;
}
