* {
  padding: 0;
  margin: 0;
  font-family: "Barlow", sans-serif;
  font-family: "Lobster", cursive;
  font-family: "Montserrat", sans-serif;
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: rgb(155, 155, 255);
  justify-self: stretch;
  align-self: stretch;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 0;
  padding-bottom: 0;
}

h1 {
  color: white;
  font-size: 2.5rem;
  justify-self: center;
  align-self: center;
}

a {
  justify-self: end;
  align-self: center;
  margin: 0;
  width: 8rem;
}

.logo {
  width: 8rem;
}

.logo-left {
  width: 8rem;
  align-self: center;
  justify-self: start;
}

.main-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  align-items: center;
}

.game-field {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
}

.board {
  height: 60vh;
  width: 36vw;
  border: 1px solid black;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
}

.card1,
.card2 {
  display: grid;
  grid-template-columns: 1fr;
}

.card1 > div:nth-child(2n - 1),
.card2 > div:nth-child(2n - 1) {
  align-self: end;
  justify-self: center;
  font-size: 1.5rem;
}

.card1 > div:nth-child(2n),
.card2 > div:nth-child(2n) {
  font-size: 1.5rem;
  justify-self: center;
}

.field {
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 7rem;
  font-weight: 60;
}

.button {
  justify-self: stretch;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(155, 155, 255);
}

#start-button {
  font-size: 1.5rem;
  padding: 0.4rem;
  border-radius: 2rem;
  border: none;
  background-color: white;
  font-weight: 900;
}

#start-button:hover {
  background-color: rgb(234, 234, 253);
}

#start-button:active {
  background-color: rgb(226, 226, 252);
}

.form1,
.form2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 25vw;
  height: 25vh;
  background-color: rgb(155, 155, 255);
  display: grid;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  display: none;
}

.save1,
.save2 {
  border: none;
  font-size: 1.2rem;
  border-radius: 2rem;
}

.save1:hover,
.save2:hover {
  background-color: white;
}

.save1:active,
.save2:active {
  background-color: rgb(233, 233, 233);
}

label {
  color: white;
  font-size: 1.8rem;
}

p {
  color: white;
  font-size: 1.8rem;
}

.mark {
  font-size: 5rem;
}

.end-screen {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 25vw;
  height: 25vh;
  background-color: rgb(255, 111, 111);
  display: none;
  grid-template-rows: 1fr 1fr;
  border-radius: 1rem;
  border: none;
}

.end-text {
  color: white;
  font-size: 2rem;
  justify-self: center;
  align-self: center;
  font-weight: 900;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-round {
  border-radius: 1rem;
  flex: 1;
  font-size: 1.2rem;
  margin: 2rem;
  border: none;
  font-weight: 900;
  background-color: white;
}

.new-round:hover {
  background-color: rgb(255, 236, 236);
}

.new-round:active {
  background-color: rgb(255, 216, 216);
}
